body {
    margin: 0;
    color: #FFFFFF;
    background-color: #333333;
}
ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.page {
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#loginPage {
    display: flex;
}
#loginNameInput {
    border: 1px solid #000;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
    width: 100%;
    max-width: 400px;
}
#chatPage {
    display: none;
}
.chatArea {
    flex: 1;
    width: 100%;
    display: flex;
}
.chatlist {
    flex: 1;
    background-color: #BBB;
    overflow-y: scroll;
    max-height: calc(100vh - 80px);
    margin: 20px;
}
.chatlist li {
    padding: 5px 15px;
    font-size: 15px;
}
.chatlist li.m-status {
    color: #333;
    font-style: italic;
}
.chatlist li.m-txt {
    color: #000;
}
.chatlist li.m-txt span {
    font-weight: bold;
    font-style: italic;
    color: #483d8b;
}
.chatlist li.m-txt span.me {
    color: #006400;
}
.userList {
    width: 200px;
    border-left: 1px solid #BBB;
    overflow-y: scroll;
    max-height: calc(100vh - 40px);
}
.userList li {
    padding: 5px 15px;
    font-size: 15px;
}
.userList h3 {
    padding: 0px 15px;
    margin-top: 15px;
}
.chatInput {
    width: 100%;
    display: flex;
}
#chatTextInput {
    flex: 1;
    height: 40px;
    padding: 0 10px;
    font-size: 15px;
    background-color: #FFF;
    outline: 0;
    border: 0;
}